<h1>Benchling Backend Coding Challenge</h1>
<%= button_to "Register A New Device", controller: "devices", method: :post %>
<hr><br>
<% @devices.each do |device| %>
  <%= link_to "Device ##{device.id}", device %><br>
<% end %>
